body{
    overflow-x: hidden;
}
.contains{
    width: 100%;
}
.box-1{
    height: 1000px;
    background-color: #F5F5DC;
    margin-top: 140px;
    position: relative;
    
}
.img-box img{
    width: 150px;
    height: 150px;
    display: block;
    border: 5px solid #f5f5f5;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    top: -90px;
    left: 30%;
    }

.name h3{
    position: absolute;
    top: 80px;
    left: 30%;
}
.position h6{
    position: absolute;
    top: 120px;
    left: 33%;
}

.box-contact h5{
    position: absolute;
    top: 180px;
    left: 33%;
}

.box-contact .list-contact{
    position: absolute;
    top: 210px;
    left: 26%;
}
li{
    list-style: none;
    margin-top: 5px;
}
.box-skills{
    position: absolute;
    top: 460px;
    left: 25%;
}

.box-skills hr{
    width: 200px;
    height:2px;
    color:gray;
    background-color:gray
    
}
.container-skills{
    width: 100%;
    background-color: gray;
    text-align: center;
    color:  white;
}

.skills-1{
    width: 70%;
    background-color: tomato;
}
.skills-2{
    width: 60%;
    background-color: tomato;
}
.skills-3{
    width: 50%;
    background-color: tomato;
}
.skills-4{
    width: 40%;
    background-color: tomato;
}

.box-hobbies{
    position: absolute;
    top: 800px;
    left: 22%;
}

.box-hobbies hr{
    width: 200px;
    height:2px;
    color:gray;
    background-color:gray;
}
.container-2{
    width: 100%;
    margin-left: 15px;
}

.box-profile{
    margin-top: 50px;
    
}
.lists{
    list-style: square;
}

.years{
    background-color: khaki;
    width: 15%;
    text-align: center;
}
.refer-list{
    font-size: 20px;
}
/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	
}
/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
	.box-1{
        height: 1100px;
    }
    .years{
        width: 20%;
    }
}
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    .img-box img{
        left: 26%;
    }
    .name h3{
        left: 25%;
    }
    .position h6{
        left: 30%;
    }
    .box-contact h5{
        left: 31%;
    }
    .box-contact .list-contact{
        left: 20%;
    }
    .box-skills{
        left: 17%;
    }
    .box-hobbies{
        left: 15%;
    }
    .years{

        width: 30%;
    }
    .box-1{
        height: 1350px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px){ 
	.years{
        width: 25%;
    }
    .img-box img{
        left: 37%;
    }
    .name h3{
        left: 37%;
    }
    .position h6{
        left: 39%;
    }
    .box-contact h5{
        left: 38%;
    }
    .box-contact .list-contact{
        left: 35%;
    }
    .box-skills{
        left: 33%;
    }
    .box-hobbies{
        left: 33%;
    }
}

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
	.years{
        width: 30%;
    }
}